<div class="guidance"><strong>OPTIONAL JUDGES COMMENTS TO THE PRODUCING THEATRE</strong><br />
<p>Judges can provide optional, constructive feedback on the production they have viewed and balloted.  All comments will be reviewed by a committee of WATCH board members to assure that comments remain constructive.  Please note, 2011 was a "test" year for these comments, evaluating both the level of participation by the judges and the quality of the comments.  The comments may or may not be delivered to the producing company at the discretion of the WATCH Board of Directors.</p>
<ul>
<li>Providing comments is entirely optional.</li>
<li>Comments should remain constructive and will be reviewed.</li>
<li>Comments will be anonymous to the reviewers and to the producing company.</li>
<li>Comments will not be delivered to the producing company until after the awards ceremony in March (if at all).</li>
</ul>