<div class="guidance"><strong>Please double check your ballot before submitting.<br />
<ul>
<li>Did you score <strong>ALL</strong> technical elements? (you must score N/A for any technical elements that do not apply)</li>
<li>Did you capture <strong>ALL</strong> of the characters and actors?  Do they each have a score, including N/I for any characters that were "Not Identifiable" on stage. Please double check for character omissions.</li>
<li>Did you score <strong>ALL</strong> of the overall production elements? (you must score N/A for any elements that do not apply)</li>
<li>Double check that your name, e-mail address, judge number, and rep name are correct.</li>
</ul>
If your ballot meets all validation checks, after clicking submit you will receive a confirmation page of your ballot data.  Please print the confirmation page for your records.</div>