<div class="guidance"><strong>IMPORTANT REMINDER:</strong><br />
You should <strong>score ALL overall elements</strong> whether they are listed in the playbill or not. <br />
If the element was not present on stage, then the score is N/A (Not Applicable). <br />
Click on the category for criteria guidance.</div>