<div class="guidance"><strong>IMPORTANT REMINDER:</strong><br />
Please list ALL performers identified in the program by an individual character name,
in the order that they are listed in the program.<br />
Criteria Links: <%= link_to "performances", "http://washingtontheater.org/Adjudication/Criteria.html#Performance", :target => "_blank" %>, 
<%= link_to "lead roles", "http://washingtontheater.org/Adjudication/Criteria.html#Lead", :target => "_blank" %>,
<%= link_to "cameo roles", "http://washingtontheater.org/Adjudication/Criteria.html#Cameo", :target => "_blank" %>, and 
<%= link_to "featured roles.", "http://washingtontheater.org/Adjudication/Criteria.html#Featured", :target => "_blank" %></div>