<h2>E-BALLOT SUBMISSION</h2>
<p>Welcome to LUCITE, the new online ballot entry system approved by the WATCH Board for 2012 and previewed at recent judge training sessions.</p>
<%= link_to "Enter a ballot", new_raw_ballot_path %>


